html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 18px;
  display: table; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header img {
    width: 180px;
    margin: 0 auto; }

.hero {
  font-family: "Roboto";
  color: #fff;
  background-color: #24CAE5;
  height: 400px;
  text-align: center;
  padding: 80px 20px 0px; }
  .hero h1 {
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px; }
  @media screen and (min-width: 53.75em) {
    .hero {
      height: 500px;
      padding: 130px 260px; }
      .hero h1 {
        font-size: 40px;
        line-height: 50px; } }
  .hero a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased; }
  .hero .cta-button {
    font-weight: 700;
    border-radius: 40px;
    background-color: #F06543;
    padding: 12px 25px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 2.5px; }
  .hero .learn-button {
    text-decoration: underline;
    /* Learn More Copy: */
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2.5px; }

.call-box {
  background-color: #FDFDFD;
  color: #F06543;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px; }
  .call-box h3 {
    font-family: "Roboto";
    font-weight: 100; }

.mission {
  padding: 40px 15px;
  text-align: center;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .mission::after {
    clear: both;
    content: "";
    display: table; }
  .mission h2 {
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 19px;
    color: #ACACAC;
    letter-spacing: 0.43px;
    line-height: 31px; }
  .mission p {
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #565656;
    letter-spacing: 0px;
    line-height: 20px; }
  @media screen and (min-width: 53.75em) {
    .mission {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      .mission:last-child {
        margin-right: 0; }
      .mission h2 {
        font-size: 25px;
        line-height: 35px; } }

.value-prop {
  margin-bottom: 50px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .value-prop::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 53.75em) {
    .value-prop .item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .value-prop .item:last-child {
        margin-right: 0; } }
  .value-prop img {
    width: 100%; }
  .value-prop h4 {
    font-family: Roboto-Black;
    font-size: 12px;
    color: #F06543;
    letter-spacing: 3px;
    text-align: center; }
  .value-prop p {
    font-family: Roboto-Regular;
    font-size: 13px;
    color: #565656;
    letter-spacing: 0px;
    line-height: 20px;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 35px; }

footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer img {
    width: 110px; }
